* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;  
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cerchio {
  width: 300vw;
  height: 300vw;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: -100vw;
  top: -100vw;
  transition: all 2.3s ease;
  z-index: 100;
}

nav{
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content:space-between;
}

svg{
  margin-left: 20px;
}

.container {
  display: flex;
  height: 85vh;
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  flex-grow: 1;
  min-width: 20vw;
  overflow: auto;
}

.instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 90%;

}

.title{
  margin-top: 4vh;
  width: 75%;
  height: 5vh;
  background-color: rgb(206, 206, 206);
  border: solid black 1px;
}

#descrizione{
  margin-top: 5vh;
  word-wrap: break-word;
}

#instructions-rows{
  margin-top: 5vh;
  word-wrap: break-word;
}

.submit-button{
  margin-top: 4vh;
  width: 30%;
  height: 5vh;
  background-color: rgb(236, 236, 236);
  border: solid black 1px;
  cursor: pointer;
}

.submit-button:hover{
  background-color: rgb(206, 206, 206);
}

#left-panel { background-color: #ffffff; }
#center-panel { background-color: rgb(255, 255, 255); }
#right-panel { background-color: #ffffff; }

.resizer {
  min-width: 10px;
  background-color: #ccc;
  cursor: ew-resize;
  height: 100%;
}

#editor, #result {
  height: 100%;
  width: 100%;
}







.xp-progress-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 6vh;
  margin: 0 auto;
}

.progress-bar-container{
  width: 100%;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;

}
.progress-container {
  width: 90%;
  height: 70%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.xp-progress-min-max{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

#xp-min{
  margin-left: 5%;
  font-size: 0.4em;
  font-weight:bold;
  font-family: 'Montserrat';
}

#xp-max{
  margin-right: 5%;
  font-size: 0.4em;
  font-weight:bold;
  font-family: 'Montserrat';
}

#xp-text{
  font-size: 1em;
  margin: 0;
  font-weight:bold;
  font-family: 'Montserrat';
}

#liv-attuale{
  font-size: 0.7em;
  margin: 0;
  font-weight:bold;
  font-family: 'Montserrat';
}

#liv-successivo{
  font-size: 0.7em;
  margin: 0;
  font-weight:bold;
  font-family: 'Montserrat';
}


