/* inizialmente ho dato a body height 100vh e width 100vw ma questo ha portato a un eccessiva larghezza
e altezza del body, tanto da far comparire sia la sbarra di scorrimento verticale e orizzantale, per
questo motivo ho decisono di non utilizzare il body come container principale ma di utilizzare invece un 
div apposito che avrà il compito di contenere tutto il contenuto della pagina*/

@import url('https://fonts.cdnfonts.com/css/apercu-pro');


*::-webkit-scrollbar {
    display: none;  
  }


body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff0e6;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: 'Apercu Pro', sans-serif;

  
}

#cerchio {
  width: 100px;
  height: 100px;
  background-color: black;
  top: -100vh;
  left: -100vw;
  border-radius: 50%;
  position: absolute;
  transition: all 2.3s ease;
  cursor: pointer;
  z-index: 100;
}



.step-path {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: 0 0 5vh 0;


}



.step-path .step:first-child{
    margin-left: 10vw;
}

.step-path .step:last-child{
    margin-right: 10vw;
}
.step {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;
  min-height: 110px;
  min-width: 110px;
  border-radius: 50%;
  background-color: rgb(38, 38, 38);
  margin: 0;
  box-shadow: 5px 7px 0px rgb(59, 16, 230);
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out, background-color 0.2s ease-out;
}

.step:hover {
  background-color: rgb(59, 16, 230);
  box-shadow: 5px 10px 0px rgb(38, 38, 38);
  transform: translateY(-5px);
}




.line {
    height: 20px;
    width: 300px;
    background-color: rgb(38, 38, 38);;
    margin: -3px;
    min-width: 300px; 

}

