

.xp-progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30vh;
    margin: 0 auto;
}

.progress-bar-container{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: space-between;

}
.progress-container {
    width: 90%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
  }

  .xp-progress-min-max{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

  }

  #xp-min{
    margin-left: 5%;
    font-size: 10px;
    font-weight:bold;
    font-family: 'Montserrat';
  }

  #xp-max{
    margin-right: 5%;
    font-size: 10px;
    font-weight:bold;
    font-family: 'Montserrat';
  }

  #xp-text{
    font-size: 70px;
    margin: 0;
    font-weight:bold;
    font-family: 'Montserrat';
  }

  #liv-attuale{
    font-size: 20px;
    margin: 0;
    font-weight:bold;
    font-family: 'Montserrat';
  }

  #liv-successivo{
    font-size: 20px;
    margin: 0;
    font-weight:bold;
    font-family: 'Montserrat';
  }

