/* Impostazioni di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .container {
    display: flex;
    height: 70vh;
    width: 100%;
  }
  
  .panel {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    flex-grow: 1;
    overflow: auto; /* Aggiungiamo la barra di scorrimento quando necessario */
  }
  
  #left-panel {
    background-color: #e1f5fe;
  }
  
  #right-panel {
    background-color: #ffecb3;
  }
  
  .resizer {
    min-width: 10px;
    background-color: #ccc;
    cursor: ew-resize;
    height: 100%;
  }
  